*.csv
*.jsonl
*.json
__pycache__/
*.pyc
output/
outputs/
output_scored/
*.bin
wandb/
results/
new-results/
!benchmarks/**/*.json
!benchmarks/**/*.jsonl
self-control/suffix_gradient/data/
merged_eval_results/
delta_ds/
charts/
multirun/
adapters/
generations/
*.png

# specific files
experiments/suffix_score/*
experiments/observe_gradients.ipynb

benchmarks/csqa/*
benchmarks/MATH/*
benchmarks/fact_editing/*
benchmarks/llm-attacks-main/*
benchmarks/malicious_instruct/*
baselines/*

data/*
!data/self-control-data.jsonl
!data/sami-data.jsonl
!data/dpo-*.*
!data/README.md
